
body{
    padding: 20px;
}

.movie-list .movie .movie-title {
    font-size: 24px;
    font-size: 1.6em;
    font-weight: 300;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.search {
    margin-bottom: 50px;

    & .search-form{
        float: none !important;
    }
}

header .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;

    width: 100%;
    padding: 0;

    a{
        justify-self: center;
    }

    & > div{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;

        input{
            height: 40px;
        }
    }
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  
    & .container {
        width: 100%;
    }

    & aside{
        display: grid;
        grid-template-columns: 1fr;

        position: relative;
        background: white;
        padding: 30px;
        margin: 0;
        border-radius: 10px;

        & :nth-child(1){
            position: absolute;
            top: 0;
            width: 100%;
            font-weight: bold;

             & button{
                border: none;
                background: #ffaa3c;
                padding: 10px;
                height: 70px;
                border-radius: 10px 10px 0 0;
                color: #92601e;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
             }

             & input:hover{
                background-color: #ffc06f;
             }
        }
    }
}


.movie{
    display: grid;
    grid-template-columns: 1fr;
}

.rate {
    // width: 74%;
    float: none;
    margin: 0 auto;
    padding: 0;
}
.contact-form input[type="submit"] {
    width: 100%;
}



@media (min-width: 1024px) {
    header .container{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 10px;

        & > div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 10px;
        }
    }

    .main-content {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 10px;
    }    
}
