body {
  padding: 20px;
}

.movie-list .movie .movie-title {
  font-size: 24px;
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.search {
  margin-bottom: 50px;
}

.search .search-form {
  float: none !important;
}

header {
  height: 100px;
}

header.site-header {
  padding: 0;
  margin-bottom: 20px;
}

header .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
  width: 100%;
  padding: 0;
}

header .container a {
  -ms-grid-column-align: center;
      justify-self: center;
}

header .container > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

header .container > div input {
  height: 40px;
}

.main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.main-content .container {
  width: 100%;
}

.main-content aside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
  background: white;
  padding: 80px 10px 10px 10px;
  margin: 0;
  border-radius: 10px;
}

.main-content aside > :nth-child(1) {
  position: absolute;
  top: 0;
  width: 100%;
  font-weight: bold;
}

.main-content aside > :nth-child(1) button {
  border: none;
  background: #ffaa3c;
  padding: 10px;
  height: 70px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  color: #92601e;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.main-content aside > :nth-child(1) button:hover {
  background-color: #ffc06f;
}

.main-content aside > :nth-child(2), .main-content aside > :nth-child(2) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (30px 100px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 30px 100px);
  grid-row-gap: 10px;
  font-size: 20px;
}

.main-content aside > :nth-child(2) > div, .main-content aside > :nth-child(2) > div {
  display: inline-block;
  overflow-y: hidden;
  height: 100%;
}

.main-content aside > :nth-child(2) > div:nth-child(1), .main-content aside > :nth-child(2) > div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ span 1;
}

.main-content aside > :nth-child(2) > div:nth-child(2), .main-content aside > :nth-child(2) > div:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ span 1;
}

.main-content aside > :nth-child(2) > div:hover, .main-content aside > :nth-child(2) > div:hover {
  overflow-y: scroll;
}

.movie {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.rate {
  float: none;
  margin: 0 auto;
  padding: 0;
}

.contact-form input[type="submit"] {
  width: 100%;
}

@media (min-width: 1024px) {
  header .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    grid-column-gap: 10px;
  }
  header .container > div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
  .main-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    grid-column-gap: 10px;
  }
}
/*# sourceMappingURL=fix.css.map */