.movie-list .movie .movie-title {
    font-size: 24px;
    font-size: 1.6em;
    font-weight: 300;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}